#task-manager {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  #toggle-task-manager {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 0px;
  }
  
  #toggle-task-manager:hover {
    background-color: #277a40;
  }
  
  #task-list-container.hide {
    display: none;
  }
  
  #task-list {
    list-style: none;
    margin: 0;
    margin-top: 5px;
    padding: 0;
  }
  
  #task-list li {
    background: #ffffff;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }

  #task-list li:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
  
  #task-list li button {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #757575;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
  }

  #task-list li button:hover {
    color: #c62828;
  }
  
  #new-task-input,
  #due-date-input,
  #due-time-input,
  #group-input,
  #add-task-btn {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  #new-task-input,
  #due-date-input,
  #due-time-input,
  #group-input {
    width: calc(100% - 20px);
    border-color: #4caf50;
  }
  
  #add-task-btn {
    width: 100%;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }

  #add-task-btn:hover {
    background-color: #388e3c;
  }
  
  .date-time-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .date-time-input input {
    width: calc(50% - 5px);
  }

  .group-header {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 16px;
    color: #333333;
  }
  
  .group-task-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
  }
  
  .group-task-list li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .group-task-list li span:first-child {
    margin-right: 10px;
    font-size: 16px;
    color: #333333;
  }
  
  .group-task-list li span:last-child {
    margin-left: auto;
    font-size: 14px;
    color: #757575;
  }